/* set body styles */
body {
    background-color: #8b8589;
}


img {
    max-width: 100%;
    margin-bottom: 1em;
}

/* set footer styles */
footer {
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
    width: 100%;
    border-radius: 0.2em;
}

/* set global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page class styles */
.page {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

/* section class styles: for products */
.section {
    width: 100%;
    display: flex;
/*    border-radius: 0.2em; */
    justify-content: center;
    align-items: center;
    margin: 0.01em;
}

/* menu class styles */
.menu {
/*    background-color: #e5e5e5; */
/*  height: 80px; */
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.menu ul {
    display: inline;
}

.menu ul li {
    list-style-type: none;
    margin: 0.3em;
/*    padding: 0.4em; */
}

.menu ul li a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
    border-radius: 0.5em;
}

/* header class styles */
.header {
/*    background-color: #B2D6FF; */
    padding-top: 2em;
    padding-bottom: 2em;
}

/* content class styles */
.content {
    display: block;
    flex-wrap: none;
/*  background-color: #EAEDF0; */
/*  height: 600px; */
    padding-bottom:3em;
    text-align: justify;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

/* sign-up class styles */
.sign-up {
    background-color: #D6E9FE;
}

/* various feature styles */
/*      for the product page items */
.feature_1 {
    /* background-color: #F5CF8E; */
    background-color: #340068;
    height: 200px;
    margin: 1px;
    /* text-shadow: 1px 1px #999999; */
    color: #999999;
}

.feature_2 {
    /* background-color: #F09A9D; */
    background-color: #006834;
    height: 200px;
    margin: 1px;
    color: #999999;
}

.feature_3 {
    /* background-color: #C8C6FA; */
    background-color: #683400;
    height: 200px;
    margin: 1px;
    color: #999999
}

/*      for the index page items */
.feature_4 {
    background-color: #333333;
    height: 200px;
}

.feature_5 {
    background-color: #444444;
    height: 200px;
}

/* employee class related styles */
.employee {
    display: block;
    height: 200px;
    text-align: center;
    width: 49%;
}

.person {
    height: 150px;
    box-shadow: 10px 4px 15px #222222;
    border-radius: 50%;
    margin-bottom: 0em;
}

/* style for embedded video */
.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* style for social media icons */
.social {
    margin-left: auto;
    margin-right: auto;
}

.social_image {
    height: 30px;
}

/* product class related styles */
.product_left_img {
    display: block;
/*    float: left; */
    border-radius: 0.5em;
/*    border-right: solid 0.2em #999999; */
    padding: 1em;
/*    margin-right: 1em; */
}

.product_right_img {
/*    float: right; */
    border-radius: 0.5em;
/*    border-left: solid 0.2em #999999; */
    padding: 1em;
/*    margin-left: 1em; */
}

.product_left_text {
    padding: 1em;
    border-radius: 0.5em;
    clear: right;
}

.product_right_text {
    padding: 1em;
    border-radius: 0.5em;
    clear: left;
}

/* contact class styles */
.contact {
    width: 80%;
    margin: auto;
    display: block;
    align: center;
    font-size: 2em;
    flex-direction: column;
}

/* label related styles: mainly for contact page */
label {
    text-align: right;
}

input {
    width: 70%;
    font-size: 1em;
}

/* input[type=text] {
    margin-left: 51px;
} */

label + textarea {
    width: 70%;
    vertical-align: top;
    font-size: 1.25em;
    /* margin-left: 35px; */
}

button {
    font-size: 0.5em;
    padding: 0.25em;
}

.button_row {
}

/* mobile and desktop class styles: to display or hide as appropriate */
.mobile {
    display: inline;
}
.desktop {
    display: none;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    .feature_1,
    .feature_2,
    .feature_3 {
        width: 49%;
    }
    .employee {
        width: 24%;
    }
    .menu {
        background-color: #e5e5e5;
        border-radius: 0.2em;
    }
    .menu ul li {
        float: left;
    }
    input[type=text] {
        margin-left: 51px;
    }
    label + textarea {
        margin-left: 35px;
    }
    .button_row {
        margin-left: 155px;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: inline;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #6a895f;
    }
    nav {
        margin-top: 10px;
    }
    .page {
        width: 960px;
        /* margin: 0 auto; */
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature_1,
    .feature_2,
    .feature_3 {
        width: 32%;
    }
    .employee {
        width: 19%;
    }
    .header {
        height: 400px;
    }
    .menu {
        background-color: #e5e5e5;
        border-radius: 0.2em;
    }
    .menu ul li {
        float: left;
    }
    input[type=text] {
        margin-left: 51px;
    }
    label + textarea {
        margin-left: 35px;
    }
    .button_row {
        margin-left: 20%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: inline;
    }
}
