img {
    max-width: 100%;
}

header {
    font-family: "URW Chancery L", cursive;
    font-size: 5em;
    margin-top: 0.2em;
    border-radius: 0.5em;
    text-align: center;
}

nav {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.53em;
    margin-bottom: 0.5em;
}

nav li {
    background-color: #ffffff;
    border-radius: 0.5em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

nav li a {
    color:#000000;
    text-decoration: none;
}


/* greens:
    #98ff98
    #ccff98
    #6a895f
*/
body {
    background-color: #6a895f;
    margin-left: 15%;
    margin-right: 15%;
}

main {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border-top: solid 0.2em #999999;
    border-bottom: solid, 0.2 #999999;
}

.mobile {
    display: inline;
}

.desktop {
    display: none;
}

.tablet {
    display: none;
}

footer {
    margin: auto;
    border-top: solid 0.2em #999999;
    max-width: 50%;
    text-align: center;
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
}

.product_left_img {
    float: left;
    border-radius: 0.5em;
    border-right: solid 0.2em #999999;
    padding: 1em;
    margin-right: 1em;
}

.product_right_img {
    float: right;
    border-radius: 0.5em;
    border-left: solid 0.2em #999999;
    padding: 1em;
    margin-left: 1em;
}

.product_left_text {
    padding: 1em;
    border-radius: 0.5em;
    clear: right;
}

.product_right_text {
    padding: 1em;
    border-radius: 0.5em;
    clear: left;
}

.product {
    display: block;
    border: solid 2px blue;
}

